// COLORS

$primary-color: rgb(32, 145, 32);
$primary-alt-color: rgb(0, 128, 0); //green
$secondary-color: rgb(225, 193, 15);
$secondary-alt-color: rgb(218, 165, 32); //goldenrod

$accent-color: rgb(175, 116, 175);
$accent-alt-color: rgb(128, 0, 128); //purple

$page-card-bg-color: rgba(240, 248, 255, 0.7);

$ribbon-color: rgba(165, 42, 42, 0.8);
$account-sum-color: rgba(9, 189, 189, 0.9);

$primary-alert-color: red;
$secondary-alert-color: lime;

// FONT FAMILIES

$tnr-family: 'Times New Roman', Times, serif;
$lucida-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
  'Lucida Sans Unicode', Verdana, sans-serif;
$courier-family: 'Courier New', Courier, monospace;
$georgia-family: Georgia, 'Times New Roman', Times, serif;

// MISC VARS

$page-margin: 15rem auto -12rem;

$border: 2px solid black;

// EXTENSIONS

%form-btn {
  border: 2px solid white;
  border-radius: 25px;
  padding: 0.25rem 1.25rem;
  font-size: 1.2rem;
  font-weight: bold;
}

%page-title {
  max-width: 80%;
  margin: 0 auto 1rem;
  color: $primary-alt-color;
  text-decoration: underline;
  font-size: 2.5rem;
  font-weight: bold;
}

%page-subtitle {
  margin-bottom: 2rem;
  color: $accent-color;
  font-size: 1.9rem;
}

%account-table {
  max-width: 80vw;
  margin: 0 auto;
  background-color: gold;
  border: 3px solid $primary-alt-color;
  border-top: none;
  font-size: 1.1rem;
  color: $accent-alt-color;
  border-radius: 0 0 15px 15px;
}

@mixin link($color: $primary-alt-color, $color-hov: $secondary-alt-color) {
  color: $color;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $color-hov;
  }
}

@mixin text-shadow($color) {
  text-shadow: 0 0 3px $color;
}

// GENERAL STYLES

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  font-family: $georgia-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  font-family: $lucida-family;
}

.red {
  color: red;
  font-weight: bold;
}
