$primary-color: rgb(32, 145, 32);
$secondary-color: rgb(225, 193, 15);
$accent-color: purple;

$tnr-family: 'Times New Roman', Times, serif;
$lucida-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
  'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$courier-family: 'Courier New', Courier, monospace;
