.contact-card {
  margin: 1rem 0;
  padding: 2rem 0;
  border: 2px solid black;
  border-radius: 3px;
  box-shadow: 3px 3px 2px black;
  font-family: $tnr-family;

  .department {
    margin-bottom: 1rem;
    color: $secondary-alt-color;
  }

  .content {
    min-height: 30rem;
    display: flex;
    justify-content: space-between;
  }
}

.wait-time {
  color: $accent-color;
  font-size: 1.7rem;
  font-weight: bold;
}

@media only screen and (max-width: 1400px) {
  .content {
    min-height: 45vh;
  }
}

@media only screen and (max-width: 1200px) {
  .content {
    text-align: center;
  }
}

@media only screen and (max-width: 992px) {
  .content {
    height: 5vh;
    overflow-y: scroll;
  }
}
