.logo {
  position: fixed;
  top: 8.5rem;
  border-radius: 0 20px 20px 0;
  background-color: $secondary-color;
  z-index: 2;
  cursor: pointer;

  &:hover {
    background-color: goldenrod;
  }

  .icon--bag {
    width: 50px;
    height: 50px;
  }

  &--title {
    margin: 0 0.5rem;
    font-family: $lucida-family;
    font-size: 3.2rem;
    font-style: italic;
    font-weight: bold;
    color: purple;
  }
}

.motto {
  position: absolute;
  top: 9.2rem;
  transform: translateX(-50%);
  font-family: $courier-family;
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;

  &--slide-in {
    animation: motto-slide-in 2.5s forwards;
  }
}

@media only screen and (max-width: 1328px) {
  .motto {
    font-size: 1.5rem;
    top: 9.8rem;
  }
  @keyframes logo-slidein {
    to {
      left: 15.5rem;
    }
  }
}

@media only screen and (max-width: 1030px) {
  .logo-nav {
    margin: -1rem 0 -2.5rem -2rem;
  }

  .handbag {
    width: 38px;
    height: 38px;
  }

  .purse {
    margin: -0.1rem 0.25rem;
    font-size: 2.8rem;
  }

  .motto {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .logo-nav {
    margin: -0.75rem auto 0;
    padding: 1.75rem 0.5rem 0.25rem;
    border-radius: 10px;
  }

  .handbag {
    display: none;
  }

  .purse {
    font-size: 3.2rem;
  }
}

@media only screen and (max-width: 500px) {
  .logo-nav {
    margin: -0.75rem auto 0;
    padding: 1.75rem 0.5rem 0.25rem;
    border-radius: 10px;
  }

  .handbag {
    width: 0;
    height: 0;
  }

  .purse {
    font-size: 2.5rem;
  }
}
