.page-card {
  width: 80%;
  margin: $page-margin;
  padding: 2rem 0 3rem;
  background-color: beige;
  box-shadow: 2px 2px 5px black;
  border-radius: 3px 15px 3px 15px;
  text-align: center;

  &--title {
    color: $primary-alt-color;
    text-decoration: underline;
  }

  &--subtitle {
    margin-bottom: 2rem;
    color: $accent-color;
  }

  &--content {
    margin: 1rem 7rem 0;
    padding: 4rem 6rem;
    border: 2px solid $secondary-color;
    box-shadow: 0 0 13px 3px $secondary-alt-color;
    background-color: $page-card-bg-color;

    & > * {
      margin: 2rem 0;
    }
  }
}

@media only screen and (max-width: 768px) {
  .page {
    margin: 2rem auto 5rem;
  }

  .content {
    padding: 2rem;
  }
}

@media only screen and (max-width: 576px) {
  .page {
    padding: 2rem;
  }

  .title {
    margin-top: -0.5rem;
    font-size: 2.5rem;
  }

  .subtitle {
    margin-bottom: 1.5rem;
    font-size: 2rem;
  }

  .content {
    padding: 1.5rem;
  }

  .content p {
    font-size: 1.1rem;
  }
}
