.page-card {
  max-width: $page-width;
  margin: $page-margin;
  padding: 2rem 0 3rem;
  background-color: $page-card-bg-main;
  box-shadow: 2px 2px 5px black;
  border-radius: 5px;
  text-align: center;

  &--title {
    @extend %page-title;
  }

  &--subtitle {
    @extend %page-subtitle;
  }

  &--content {
    min-height: 30rem;
    margin: 0 2rem;
    padding: 1rem 2rem;
    border: 2px solid $secondary-theme;
    box-shadow: 0 0 2px $secondary-theme-alt;
    background-color: $page-card-bg-content;

    .intertitle {
      margin: 0 auto;
      color: $tertiary-theme-alt;
    }

    .endtitle {
      margin: 0 auto;
      color: $tertiary-theme-alt;
    }

    & > * {
      margin: 2rem 0;
    }

    & h2 {
      font-size: 2.8rem;
      @include text-shadow(black);
    }

    & h3 {
      font-size: 1.7rem;
      @include text-shadow(black);
    }

    & p {
      margin: 2rem 0;
      font-size: 1.2rem;
    }
  }
}

@media only screen and (min-width: 776px) {
  .page-card {
    margin-top: 20rem;

    &--content {
      .endtitle {
        width: 60%;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .page-card {
    max-width: 70vw;

    &--title {
      font-size: 3rem;
    }

    &--subtitle {
      font-size: 2.3rem;
    }

    &--content {
      & h2 {
        font-size: 3.2rem;
      }

      & h3 {
        font-size: 2rem;
      }

      & p {
        font-size: 1.4rem;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .page-card {
    max-width: 60vw;
  }
}
