.card {
  margin: 1rem 0 2rem;
  border-radius: 3px;
  box-shadow: 1px 1px 1px black;
}

.card:hover {
  animation: bump 800ms forwards;
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  z-index: 2;
}

.content {
  height: 22rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 3rem;
  color: green;
}

.content p {
  font-family: 'Times New Roman', Times, serif;
}

.learn-container {
  text-align: right;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

.learn-container button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  color: black;
  background-color: rgb(175, 116, 175);
  cursor: pointer;
  z-index: 2;
  text-decoration: none;
}

.learn-container button:hover {
  color: gold;
  animation: button-gleam-2 700ms forwards;
}

@media only screen and (max-width: 1200px) {
  .title {
    font-size: 2.5rem;
  }

  .content p {
    font-size: 1.3rem;
  }

  .learn-container button {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 1000px) {
  .title {
    font-size: 4rem;
  }

  .content p {
    font-size: 1.8rem;
  }

  .learn-container button {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 3rem;
  }

  .content p {
    font-size: 1.7rem;
  }

  .learn-container button {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 500px) {
  .title {
    font-size: 2.6rem;
  }

  .content p {
    font-size: 1.4rem;
  }

  .learn-container button {
    font-size: 1.1rem;
  }
}
