.card {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card:hover {
  cursor: pointer;
  animation: bump-2 800ms forwards;
}

.link {
  text-decoration: none;
}

.description {
  font-size: 1.4rem;
  color: black;
}

.card img {
  width: 266px;
  height: 200px;
  margin: -0.5rem 0;
}

.wrapper {
  margin: 0 auto;
  min-height: 15vh;
}

.annual-fee {
  color: black;
  font-size: 1.2rem;
}

.signing-number {
  margin: -0.5rem 0;
  font-family: 'Times New Roman', Times, serif;
  font-size: 5rem;
  font-weight: bold;
  color: purple;
}

.signing-bonus {
  color: purple;
  font-size: 1.3rem;
}

.cashback-offer {
  color: green;
  font-weight: bold;
  font-size: 1.3rem;
}

@media only screen and (max-width: 1400px) {
  .card img {
    width: 200px;
    height: 150px;
  }

  .description {
    font-size: 1.3rem;
  }

  .annual-fee {
    font-size: 1.1rem;
  }

  .signing-number {
    font-size: 4rem;
  }

  .signing-bonus {
    font-size: 1.2rem;
  }

  .cashback-offer {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 1200px) {
  .card img {
    width: 250px;
    height: 188px;
  }

  .description {
    font-size: 1.3rem;
  }

  .annual-fee {
    font-size: 1.2rem;
  }

  .signing-number {
    font-size: 4rem;
  }

  .signing-bonus {
    font-size: 1.3rem;
  }

  .cashback-offer {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 992px) {
  .card img {
    width: 300px;
    height: 226px;
  }

  .description {
    font-size: 1.4rem;
  }

  .annual-fee {
    font-size: 1.4rem;
  }

  .signing-number {
    font-size: 5rem;
  }

  .wrapper {
    width: 40vw;
    min-height: 25vh;
  }

  .signing-bonus {
    font-size: 1.5rem;
  }

  .cashback-offer {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .wrapper {
    width: 50vw;
  }
}

@media only screen and (max-width: 500px) {
  .card img {
    width: 200px;
    height: 150px;
  }

  .description {
    font-size: 1.1rem;
  }

  .annual-fee {
    font-size: 1rem;
  }

  .signing-number {
    font-size: 3.5rem;
  }

  .wrapper {
    min-height: 27vh;
  }

  .signing-bonus {
    font-size: 1.1rem;
  }

  .cashback-offer {
    font-size: 1.1rem;
  }
}
