.my-purse-btn {
  width: 30vw;
  margin: 0 auto;
  position: relative;
  top: -0.35rem;
  border-radius: 25px;
  border: 0.5px solid black;
  box-shadow: -1px -1px 4px black;
  background-color: $secondary-theme-alt-alt;
  cursor: pointer;

  p {
    margin: -0.25rem;
    text-align: center;
    font-family: $lucida-family;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
  }

  &:hover {
    animation: button-gleam-2 700ms forwards;

    .my-purse-btn--content-container {
      display: block;
      z-index: 3;
    }
  }

  &--content-container {
    position: absolute;
    padding: 0.75rem;
    border-radius: 4px;
    background-color: $page-card-bg-main;
    box-shadow: 0 0 5px black;
    font-family: $lucida-family;
    font-weight: bold;
    text-align: right;
    display: none;

    .btn--sign-out {
      margin: 0.75rem;
      margin-right: 0.25rem;
      background-color: inherit;
      border: 1px solid black;
      border-radius: 20px;
      padding: 0.25rem 0.75rem;
      font-size: 1.3rem;
      font-weight: bold;
      color: $tertiary-theme-alt;
      cursor: pointer;

      &:hover {
        animation: button-gleam-2 500ms forwards;
      }
    }

    .link {
      margin: 0.5rem;
      font-size: 1.3rem;
      text-decoration: none;
      color: black;
      display: block;

      &:hover {
        color: $primary-theme-alt;
        transform: scale(1.02);
      }
    }
  }
}

@media only screen and (min-width: 576px) {
  .my-purse-btn {
    width: 25vw;
    top: -0.5rem;
    margin: initial;
    border-radius: 25px 0 0 25px;

    p {
      margin-left: 0.5rem;
      font-size: 1.1rem;
    }
  }
}

@media only screen and (min-width: 768px) {
  .my-purse-btn {
    width: 22vw;
    top: -0.7rem;

    p {
      font-size: 1.2rem;
    }
  }
}

@media only screen and (min-width: 992px) {
  .my-purse-btn {
    width: 20vw;
  }
}

@media only screen and (min-width: 1200px) {
  .my-purse-btn {
    p {
      font-size: 1.4rem;
    }
  }
}

@media only screen and (min-width: 1400px) {
  .my-purse-btn {
    width: 17vw;
  }
}
