.main-nav {
  width: 80vw;
  margin: 0.25rem 0;
  background-color: $primary-color;
  border-radius: 15px;
  justify-content: center;

  &--item {
    margin: 1rem;
    font-family: $tnr-family;
    cursor: default;

    h2 {
      margin: 0;
      font-size: 1.7rem;
    }

    &:hover {
      color: $secondary-alt-color;
    }

    &:hover .main-nav--dropdown-content {
      display: block;
    }
  }

  &--dropdown-content {
    position: absolute;
    padding: 0.5rem 1rem;
    background-color: beige;
    border-radius: 5px;
    box-shadow: 0 0 4px black;
    text-align: center;
    z-index: 15;
    display: none;

    .link {
      font-family: $lucida-family;
      font-weight: bolder;
      display: block;

      p {
        margin: 0;
        color: black;
      }
    }

    .strike {
      text-decoration: line-through;
      cursor: default;
    }

    .no-strike {
      text-decoration: none;

      p:hover {
        color: $primary-alt-color;
        transform: scale(1.02);
      }
    }
  }
}

@media only screen and (min-width: 576px) {
  .main-nav {
    border-radius: 15px 0 0 15px;
    justify-content: flex-start;
  }
}

@media only screen and (min-width: 768px) {
  .main-nav {
    width: 65vw;

    &--item {
      margin: 1.25rem;
    }

    &--dropdown-content {
      font-size: 1.1rem;
    }
  }
}

@media only screen and (min-width: 992px) {
  .main-nav {
    width: 60vw;

    &--item {
      h2 {
        font-size: 1.9rem;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .main-nav {
    width: 55vw;

    &--item {
      margin: 1.5rem;

      h2 {
        font-size: 2rem;
      }
    }

    &--dropdown-content {
      font-size: 1.2rem;
    }
  }
}

@media only screen and (min-width: 1400px) {
  .main-nav {
    width: 50vw;
  }
}
