.top-nav {
  margin-top: -0.25rem;
  justify-content: center;
  font-family: $tnr-family;
  cursor: pointer;

  h5 {
    margin: 0 0.5rem;
    color: black;

    &:hover {
      color: $accent-alt-color;
      text-shadow: 0 0 1px black;
    }
  }
}

.dropdown-icon {
  width: 30px;
  height: 30px;
}

.dropdown-container {
  position: absolute;
  right: 0.5rem;
  padding: 0.75rem;
  border-radius: 4px;
  background-color: beige;
  box-shadow: 0 0 5px black;
  font-size: 1.2rem;
  font-family: $lucida-family;
  color: white;
  font-weight: bold;
  text-align: right;
  z-index: 7;

  img {
    width: 30px;
    height: 30px;
    margin: 0.25rem;
    margin-left: 0.5rem;
  }

  div:hover {
    color: $primary-alt-color;
    transform: scale(1.03);
  }
}

@media only screen and (min-width: 576px) {
  .top-nav {
    width: 100vw;
    justify-content: flex-end;
    font-size: 1.2rem;

    h5 {
      font-size: 1.2rem;
    }
  }
}

@media only screen and (min-width: 992px) {
  .top-nav {
    h5 {
      font-size: 1.3rem;
    }
  }
}
