.about {
  h2 {
    color: $primary-alt-color;
    font-weight: bold;
  }

  h3 {
    font-style: italic;

    &:nth-child(odd) {
      color: $accent-alt-color;
    }

    &:nth-child(even) {
      color: $secondary-alt-color;
    }
  }
}
