.contact-page {
  // width: 80vw;
  margin: 20rem auto 10rem;
  padding: 2rem 3rem 3rem;
  background-color: beige;
  box-shadow: 2px 2px 5px black;
  border-radius: 3px 15px 3px 15px;
  text-align: center;

  &--title {
    color: $primary-alt-color;
    text-decoration: underline;
  }

  &--subtitle {
    margin-bottom: 2rem;
    color: $accent-color;
  }

  &--footer {
    h1 {
      font-size: 3.5rem;
      font-family: $lucida-family;
    }

    h2 {
      margin-top: 2rem;
    }
  }
}

@media only screen and (max-width: 992px) {
  .contact {
    .location h2 {
      font-size: 2.5rem;
    }

    .location h1 {
      font-size: 3rem;
    }
  }
}

@media only screen and (max-width: 768px) {
  .contact {
    .page {
      margin: 2rem auto 5rem;
    }
  }
}

@media only screen and (max-width: 576px) {
  .contact {
    .page {
      padding: 2rem;
    }

    .title {
      margin-top: -0.5rem;
      font-size: 2.5rem;
    }

    .subtitle {
      margin-bottom: 1rem;
      font-size: 2rem;
    }
  }
}
