.header {
  position: relative;
  background-color: rgba(137, 43, 226, 0.788);
  height: 43rem;
  margin: 17rem 0 2.5rem;
  overflow-x: hidden;
  display: flex;
  justify-content: flex-end;
  z-index: -1;
}

.header::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -5rem;
  overflow: hidden;
  right: 0;
  content: '';
  background-image: url(../../../assets/banners/Funeral_Parking_1000w.jpg);
  opacity: 0.75;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top 40% center;
}

.layout {
  overflow: hidden;
}

.account-data {
  position: relative;
  width: 75%;
  margin: 0 auto -8rem;
  padding: 1rem;
}

.button {
  position: relative;
  top: 0.25rem;
  left: 3%;
  padding: 0.8rem;
  border: 3px solid purple;
  border-bottom: 0;
  border-radius: 3px;
  font-size: 2rem;
  cursor: pointer;
}

.button:hover {
  background-color: gold;
  color: purple;
}

.selected {
  background-color: gold;
  color: purple;
  border: 3px solid green;
  border-bottom: 0;
  z-index: 2;
}

.unselected {
  background-color: white;
}

.green-line {
  position: relative;
  border-top: 4px solid green;
  border-radius: 6px;
  z-index: 1;
}

@media only screen and (max-width: 1030px) {
  .header {
    margin-top: 15.5rem;
  }

  .button {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 992px) {
  .button {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    margin-top: 3rem;
  }
}
