.credit-offer {
  width: 75vw;
  margin: 17rem auto 10rem;
  text-align: center;

  .title {
    color: green;
    text-decoration: underline;
  }

  .subtitle {
    color: $accent-color;
    margin-bottom: 0;
  }

  .layout img {
    width: 50%;
  }

  .description {
    position: relative;
    width: 75%;
    margin: 0 auto;
  }

  .about {
    text-align: left;
    color: goldenrod;
    border-bottom: 2px solid purple;
    padding-bottom: 0.5rem;
  }

  .catchphrase {
    margin-bottom: 2rem;
    color: green;
    text-align: right;
  }

  .enroll {
    position: relative;
    text-decoration: none;

    h1:hover {
      color: gold;
    }

    h2 {
      color: rgb(175, 116, 175);
      margin: 3rem auto;
    }
  }

  .divider {
    width: 50%;
    margin: 2rem auto;
    border-top: 2px solid rgba(0, 128, 0, 0.7);
  }

  .legal {
    margin: 3rem 0 0;

    h3 {
      color: goldenrod;
      font-weight: bold;
    }

    p {
      color: green;
      margin-bottom: 2rem;
    }

    img {
      width: 100%;
      box-shadow: 0 0 4px black;
    }
  }

  .reviews {
    position: relative;
    margin: 3rem auto 10rem;

    h2 {
      color: green;
      width: 100%;
      margin: 5rem auto 2rem;
      padding: 0 0 1rem;
      border-bottom: 2px solid goldenrod;
    }
  }
}

@media only screen and (max-width: 768px) {
  .layout {
    margin-top: 2rem;
  }

  .layout * {
    text-align: center;
  }

  .layout img {
    width: 80%;
  }

  .legal img {
    width: 75vw;
    height: 50vh;
  }
}
