.crypto {
  margin: $page-margin;
  text-align: center;

  &--title {
    margin-bottom: 1rem;
    color: $primary-alt-color;
    text-decoration: underline;
  }

  &--subtitle {
    margin-bottom: 2rem;
    color: $accent-color;
  }

  table {
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 0 4px black;
    overflow-x: scroll;
    cursor: default;
  }

  thead {
    background-color: gold;
    font-size: 1.5rem;

    th {
      padding: 1rem;
    }
  }

  tbody {
    background-color: beige;
    font-size: 1.3rem;

    td {
      padding: 1rem;
      padding-left: 1rem;
    }

    a {
      text-decoration: none;
      color: black;
    }

    tr:hover {
      color: gold;
      background-color: $accent-color;

      a {
        color: white;
        text-decoration: underline;
      }
    }

    .money {
      color: $primary-alt-color;

      &:hover {
        color: gold;
      }
    }
  }

  .tfoot {
    width: 80%;
    margin: 2rem auto 0;
    padding-top: 0.5rem;
    border-top: 3px solid $accent-alt-color;
    border-bottom: 3px solid $accent-alt-color;
    background-color: gold;
    font-weight: bold;

    h4 {
      font-size: 1.8rem;
    }

    a {
      color: black;

      &:hover {
        color: $primary-alt-color;
      }
    }
  }

  &--content {
    width: 75%;
    margin: 3rem auto 7rem;
    font-family: $lucida-family;
  }

  &--apiError {
    width: 40%;
    margin: 5rem auto 6rem;
    padding: 1rem 0;
    background-color: red;
    box-shadow: 10px 10px black;

    h1 {
      position: relative;
      color: white;
      font-size: 3rem;
      margin: 1rem 0;
    }

    p {
      position: relative;
      font-size: 1.3rem;
    }
  }
}

@media only screen and (max-width: 768px) {
  .crypto {
    margin-top: 2rem;
  }
}
