.find-branch {
  width: 80vw;
  margin: $page-margin;
  text-align: center;

  .loader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
  }

  &--title {
    max-width: 80%;
    margin: 0 auto 1rem;
    color: $primary-alt-color;
    text-decoration: underline;
    font-size: 2.5rem;
    font-weight: bold;
  }

  &--subtitle {
    margin-bottom: 2rem;
    color: $accent-color;
    font-size: 1.9rem;
  }

  &--places {
    max-height: 35rem;
    overflow: scroll;
  }

  &--map {
    margin: 1rem 0;
  }
}

@media only screen and (min-width: 576px) {
  .find-branch {
    margin-top: 17rem;
  }
}

@media only screen and (min-width: 992px) {
  .find-branch {
    &--search-bar {
      width: 70vw;
      margin: 0 auto;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .find-branch {
    &--search-bar {
      width: 50vw;
    }
  }
}
