.find-branch {
  width: 60vw;
  margin: $page-margin;
  text-align: center;

  &--title {
    @extend %page-title;
  }

  &--subtitle {
    @extend %page-subtitle;
  }

  &--places {
    max-height: 35rem;
    overflow: scroll;
  }

  &--map {
    margin: 1rem 0;
  }

  .wtf-loader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
  }
}

@media only screen and (min-width: 576px) {
  .find-branch {
    margin-top: 17rem;
  }
}
