.homepage {
  margin: 10rem auto -12rem;
  font-family: $georgia-family;

  &--table {
    margin: 8rem auto;
  }

  &--title {
    margin: 0;
    font-size: 2.3rem;
    color: $tertiary-theme-alt;
    border-bottom: 2px solid $tertiary-theme-alt;
  }

  .account-table {
    background-color: $secondary-theme-alt-alt;
    border: 2px solid $tertiary-theme-alt;

    & * {
      font-size: 1.3rem;
      text-align: center;
    }

    &--row {
      &:hover {
        transform: scale(1.02);
        cursor: pointer;
      }
    }

    &--advert {
      background-color: white;
      text-align: center;
      font-family: $lucida-family;
      font-size: 1.3rem;
      border-top: 2px solid $primary-alert;
      border-bottom: 2px solid $primary-alert;
      cursor: pointer;

      &:hover {
        font-weight: bold;
        border-top: 2px solid $secondary-alert;
        border-bottom: 2px solid $secondary-alert;
        background-color: $primary-alert;
        color: white;
      }
    }
  }

  .green {
    color: $primary-theme-alt;
    font-weight: bold;
  }
}

@media only screen and (min-width: 768px) {
  .homepage {
    &--title {
      font-size: 2.6rem;
    }

    .account-table {
      & * {
        font-size: 1.4rem;
      }

      &--advert {
        padding: 0.75rem 0;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .homepage {
    &--title {
      font-size: 2.9rem;
    }

    .account-table {
      & * {
        font-size: 1.5rem;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .homepage {
    &--title {
      font-size: 3.1rem;
    }

    .account-table {
      & * {
        font-size: 1.6rem;
      }

      &--advert {
        padding: 1rem 0;
      }
    }
  }
}
