.languages {
  h2 {
    margin: 2rem 0;

    &:nth-child(odd) {
      color: $secondary-alt-color;
    }

    &:nth-child(even) {
      color: $primary-alt-color;
    }
  }
}

@media only screen and (max-width: 500px) {
  .languages h2 {
    font-size: 2rem;
  }
}
