.title {
  color: gold;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.body {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.form input {
  width: 60%;
  margin: 0.5rem auto;
  border: none;
  border-radius: 12px;
  padding: 0.5rem 0.7rem;
  box-shadow: 1px 2px black;
  font-size: 1.3rem;
}

.error {
  padding: 0.25rem 0;
  text-align: center;
  background-color: lime;
  font-weight: bold;
  color: red;
}

.reset {
  width: 60%;
  margin: 0 auto 2rem;
}

.return {
  margin: 0.5rem 0;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.return:hover {
  color: goldenrod;
  text-decoration: none;
}
