.layout {
  /* border: 3px solid brown; */
  width: 75vw;
  margin: 17rem auto 10rem;
  text-align: center;
}

.title {
  color: green;
  text-decoration: underline;
}

.subtitle {
  color: rgb(175, 116, 175);
  margin-bottom: 0;
}

.layout img {
  width: 50%;
}

.description {
  /* border: 3px solid orchid; */
  position: relative;
  width: 75%;
  margin: 0 auto;
}

.about {
  text-align: left;
  color: goldenrod;
  border-bottom: 2px solid purple;
  padding-bottom: 0.5rem;
}

.catchphrase {
  margin-bottom: 2rem;
  color: green;
  text-align: right;
}

.enroll {
  position: relative;
  text-decoration: none;
}

.enroll h2 {
  color: rgb(175, 116, 175);
  margin: 3rem auto;
}

.enroll h1:hover {
  color: gold;
}

.divider {
  width: 50%;
  margin: 2rem auto;
  border-top: 2px solid rgba(0, 128, 0, 0.7);
}

.legal {
  /* border: 3px solid purple; */
  margin: 4rem 0 0;
}

.legal h3 {
  color: goldenrod;
  font-weight: bold;
}

.legal p {
  color: green;
  margin-bottom: 2rem;
}

.legal img {
  width: 100%;
  box-shadow: 0 0 4px black;
}

.reviews {
  /* border: 3px solid brown; */
  position: relative;
  margin: 3rem auto 10rem;
}

.reviews h1 {
  color: green;
  width: 90%;
  margin: 5rem auto 2rem;
  padding: 0 0 1rem;
  border-bottom: 2px solid goldenrod;
}

@media only screen and (max-width: 768px) {
  .layout * {
    text-align: center;
  }
  .layout img {
    width: 70%;
  }
}
