.page {
  margin: 18rem auto 30rem;
  padding: 2rem 3rem 3rem;
  background-color: beige;
  box-shadow: 2px 2px 5px black;
  text-align: center;
}

.title {
  color: green;
  text-decoration: underline;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle {
  margin-bottom: 2rem;
  color: rgb(175, 116, 175);
}

.location h2 {
  margin-top: 2rem;
}

.location h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media only screen and (max-width: 768px) {
  .page {
    margin: 3rem auto 5rem;
  }
}

@media only screen and (max-width: 576px) {
  .page {
    padding: 2rem;
  }

  .title {
    margin-top: -0.5rem;
    font-size: 2.5rem;
  }

  .subtitle {
    margin-bottom: 1rem;
    font-size: 2rem;
  }
}
