.heading {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading img {
  width: 300px;
  margin: 1rem 0;
  z-index: 2;
}

.heading h4 {
  margin: 2rem 0;
}

.color {
  color: red;
  font-weight: bold;
}

@media only screen and (max-width: 800px) {
  .heading img {
    width: 250px;
  }
}

@media only screen and (max-width: 500px) {
  .heading img {
    width: 200px;
  }
}
