.register-banner {
  margin: 5rem auto;
  padding: 1.5rem;
  border: 2px solid $accent-alt-color;
  border-radius: 5px;
  box-shadow: 2px 2px 4px $accent-alt-color;

  .section {
    text-align: center;

    &--title {
      color: $primary-alt-color;
      font-size: 2.5rem;
      font-weight: bold;
    }

    &--body {
      margin: 1rem auto 0;
      font-size: 1.2rem;
    }

    &--money-mural {
      width: 350px;
      z-index: 2;
    }

    .moneybags {
      margin: 1rem auto;
      z-index: 2;

      img {
        width: 80px;
      }
    }
  }

  .register-container {
    margin: 1rem auto;
    text-align: center;

    h2 {
      font-size: 2.3rem;
      font-style: italic;
    }

    button {
      border-radius: 30px;
      padding: 0.25rem 1.5rem;
      color: white;
      background-color: $primary-color;
      border: 2px solid $secondary-alt-color;
      font-size: 1.8rem;
      z-index: 2;

      &:hover {
        cursor: pointer;
        animation: button-gleam 600ms forwards;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .register-banner {
    .section {
      &--title {
        font-size: 3rem;
      }

      &--body {
        font-size: 1.3rem;
      }

      &--money-mural {
        width: 400px;
      }
    }

    .register-container {
      h2 {
        font-size: 2.6rem;
      }

      button {
        font-size: 2rem;
      }
    }
  }
}

@media only screen and (min-width: 1400px) {
  .register-banner {
    .section {
      &--title {
        font-size: 3.3rem;
      }

      &--body {
        font-size: 1.4rem;
      }

      &--money-mural {
        width: 500px;
      }

      .moneybags {
        img {
          width: 90px;
        }
      }
    }

    .register-container {
      h2 {
        font-size: 3rem;
      }

      button {
        font-size: 2.2rem;
      }
    }
  }
}
