.register-banner {
  border: 2px solid purple;
  margin-top: 8rem;
  padding: 1.5rem;
  border-radius: 5px;
  box-shadow: 2px 2px 4px purple;

  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      color: green;
      font-size: 3rem;
      margin-left: 0.5rem;
    }

    p {
      padding: 0.5rem;
      font-size: 1.3rem;
    }
  }

  .money-mural {
    margin: 0 auto;
    z-index: 2;

    img {
      width: 500px;
      height: 312px;
    }
  }

  .moneybags {
    margin: 1rem auto;
    text-align: center;
    z-index: 2;

    img {
      width: 100px;
      height: 100px;
    }
  }

  .register-container {
    text-align: center;
    display: flex;
    align-items: center;

    h2 {
      font-size: 2.5rem;
      font-style: italic;
    }

    button {
      border-radius: 7px;
      padding: 0.25rem 1.5rem;
      color: white;
      background-color: rgb(32, 145, 32);
      border: 2px solid goldenrod;
      font-size: 2rem;
      z-index: 2;

      &:hover {
        cursor: pointer;
        animation: button-gleam 700ms forwards;
      }
    }
  }
}

@media only screen and (max-width: 1400px) {
  .money-mural img {
    width: 500px;
    height: 300px;
  }
}

@media only screen and (max-width: 1200px) {
  .money-mural img {
    width: 425px;
    height: 255px;
  }
}

@media only screen and (max-width: 992px) {
  .money-mural img {
    width: 325px;
    height: 195px;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 900px) {
  .section {
    text-align: center;
  }
}

@media only screen and (max-width: 500px) {
  .section p {
    padding: 0.25rem;
    font-size: 1.2rem;
  }

  .money-mural img {
    width: 300px;
    height: 180px;
  }

  .register-container h2 {
    font-size: 2.3rem;
  }

  .register-container button {
    padding: 0.25rem 1rem;
    font-size: 1.8rem;
  }
}
