.sign-in {
  position: relative; // for z-index
  max-width: 22rem;
  padding: 2rem;
  margin: 0 auto;
  background-color: $accent-color;
  box-shadow: 6px 6px 2px black;
  font-family: $lucida-family;
  text-align: center;
  z-index: 3;

  &--title {
    width: 100vw;
    color: $secondary-color;
    font-size: 1.7rem;
    text-shadow: 0 0 2px white;
  }

  input {
    margin: 1rem auto;
    border-radius: 25px;
    border: none;
    box-shadow: 1px 2px black;
    font-size: 1.1rem;
  }

  &--nav {
    margin: 1rem 0;

    p {
      font-size: 1.2rem;
      margin-bottom: -0.05rem;
    }

    .link {
      @include link;
      padding: 0;
    }
  }
}

.branch-btn {
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: rgb(83, 192, 204);
  box-shadow: 2px 2px 4px black;
  font-size: 1.3rem;
  color: white;
  cursor: pointer;

  &:hover {
    color: gold;
    transform: scale(1.02);
  }
}

// .error {
//   position: absolute;
//   z-index: 3;
//   overflow: hidden;

//   p {
//     font-size: 2rem;
//     text-align: center;
//     color: rgb(208, 26, 26);
//     background-color: lime;
//     animation: blink 200ms steps(2, start);
//     animation-iteration-count: 50;
//   }
// }

@media only screen and (min-width: 1400px) {
  .sign-in {
    max-width: 25rem;

    &--title {
      font-size: 2rem;
    }

    input {
      font-size: 1.3rem;
    }
  }
}
