/* .footer {
  margin-bottom: 2rem;
  padding: 1rem 0;
  background-color: rgb(32, 145, 32);
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 2;
}

.help {
  margin: 0.5rem 0 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.follow {
  margin: 1rem 0 -0.1rem;
  font-size: 1.2rem;
}

.logo-bar {
  cursor: pointer;
  margin-bottom: 0.75rem;
}

.logo-bar img {
  margin: 0.75rem;
  width: 30px;
  height: 30px;
}

.logo-bar img:hover {
  background-color: gold;
}

.nav-bar {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.nav-bar button {
  border: none;
  background-color: inherit;
  font-family: inherit;
  cursor: pointer;
}

.nav-bar span {
  margin: 0.2rem;
}

.nav-bar button:hover {
  color: gold;
}

@media only screen and (max-width: 768px) {
  .help {
    font-size: 1.4rem;
  }

  .follow {
    margin-top: 0.8rem;
    font-size: 1.1rem;
  }

  .logo-bar img {
    width: 25px;
    height: 25px;
  }

  .nav-bar {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 576px) {
  .help {
    font-size: 1.3rem;
  }

  .follow {
    font-size: 1rem;
  }

  .logo-bar img {
    width: 23px;
    height: 23px;
  }

  .nav-bar {
    font-size: 1rem;
  }
} */

.footer {
  margin-bottom: 2rem;
  padding: 1rem 0;
  background-color: rgb(32, 145, 32);
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 2;
}

.help {
  margin: 0.5rem 0 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.follow {
  margin: 1rem 0 -0.1rem;
  font-size: 1.2rem;
}

.logo-bar {
  cursor: pointer;
  margin-bottom: 0.75rem;
}

.logo-bar img {
  margin: 0.75rem;
  width: 30px;
  height: 30px;
}

.logo-bar img:hover {
  background-color: gold;
}

.nav-bar {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.nav-bar button {
  border: none;
  background-color: inherit;
  font-family: inherit;
  cursor: pointer;
}

.nav-bar span {
  margin: 0.2rem;
}

.nav-bar button:hover {
  color: gold;
}

@media only screen and (max-width: 768px) {
  .help {
    font-size: 1.4rem;
  }

  .follow {
    margin-top: 0.8rem;
    font-size: 1.1rem;
  }

  .logo-bar img {
    width: 25px;
    height: 25px;
  }

  .nav-bar {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 576px) {
  .help {
    font-size: 1.3rem;
  }

  .follow {
    font-size: 1rem;
  }

  .logo-bar img {
    width: 23px;
    height: 23px;
  }

  .nav-bar {
    font-size: 1rem;
  }
}
