@keyframes blink {
  to {
    visibility: hidden;
  }
}
@keyframes bump {
  from {
    transform: scale(1);
  }
  100% {
    transform: scale(1.03);
    box-shadow: 3px 3px 5px black;
  }
}
@keyframes bump-2 {
  from {
    transform: scale(1);
  }
  100% {
    transform: scale(1.03);
  }
}
@keyframes button-gleam {
  from {
    box-shadow: none;
  }
  25% {
    box-shadow: -2px 1px 3px white;
  }
  to {
    box-shadow: 0 2px 3px black;
    transform: translate(1px, -1px);
    color: gold;
    border: 2px solid gold;
  }
}
@keyframes button-gleam-2 {
  from {
    box-shadow: none;
  }
  25% {
    box-shadow: -1px 0 3px white;
  }
  to {
    box-shadow: 0 2px 3px black;
    transform: translate(1px, -1px);
    color: white;
  }
}
@keyframes motto-slide-in {
  to {
    transform: translateX(14%);
  }
}
@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  90% {
    transform: translateX(5%);
  }
}
@keyframes slide-in-green {
  from {
    margin-left: -100%;
    width: 100%;
  }
  90% {
    width: 80%;
  }
  to {
    margin-left: -5rem;
    width: 71%;
  }
}
.footer {
  margin-bottom: 2rem;
  padding: 1rem 0;
  background-color: rgb(32, 145, 32);
  font-family: "Times New Roman", Times, serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 2;
}

.help {
  margin: 0.5rem 0 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.follow {
  margin: 1rem 0 -0.1rem;
  font-size: 1.2rem;
}

.logo-bar {
  cursor: pointer;
  margin-bottom: 1rem;
}

.logo-bar img {
  margin: 0.75rem;
  width: 30px;
  height: 30px;
}

.logo-bar img:hover {
  background-color: gold;
}

.nav-bar {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.nav-bar button {
  color: black;
  border: none;
  background-color: inherit;
  font-family: inherit;
  cursor: pointer;
}

.nav-bar span {
  margin: 0.2rem;
}

.nav-bar button:hover {
  color: gold;
}

@media only screen and (max-width: 768px) {
  .help {
    font-size: 1.4rem;
  }

  .follow {
    margin-top: 0.8rem;
    font-size: 1.1rem;
  }

  .logo-bar img {
    width: 25px;
    height: 25px;
  }

  .nav-bar {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 576px) {
  .help {
    font-size: 1.3rem;
  }

  .follow {
    font-size: 1.1rem;
  }

  .logo-bar img {
    width: 23px;
    height: 23px;
  }

  .nav-bar {
    font-size: 1rem;
  }
}
.header {
  background-color: white;
  border-bottom: 3px solid purple;
  z-index: 2;
}

@media only screen and (max-width: 768px) {
  .header {
    position: static;
    border-bottom: none;
  }

  .toggle {
    margin: 0.25rem auto;
    outline: 3px solid green;
  }

  .toggle img {
    width: 40px;
    height: 40px;
    margin: 0 -0.3rem;
  }
}
@media only screen and (max-width: 500px) {
  .header {
    position: static;
    border-bottom: none;
  }

  .toggle {
    margin: 0.25rem auto;
    outline: 1px solid darkred;
  }

  .toggle img {
    width: 35px;
    height: 35px;
    margin: 0 -0.3rem;
  }
}
.main-nav {
  width: 50%;
  margin-right: -0.75rem;
  padding-top: 0.5rem;
  background-color: rgb(32, 145, 32);
  border-radius: 15px 0 0 15px;
}
.main-nav--item {
  margin: 1rem 1rem 1rem 1.5rem;
  font-family: "Times New Roman", Times, serif;
  z-index: 3;
  cursor: default;
}
.main-nav--item:hover {
  color: goldenrod;
}
.main-nav--item:hover .main-nav--dropdown-content {
  display: block;
}
.main-nav--dropdown-content {
  position: absolute;
  padding: 0.75rem;
  background-color: beige;
  border-radius: 4px;
  box-shadow: 0 0 5px black;
  display: none;
}
.main-nav--dropdown-content .link {
  margin: 0.5rem 0.25rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.3rem;
  font-weight: bolder;
  color: black;
  display: block;
}
.main-nav--dropdown-content .strike {
  text-decoration: line-through;
  cursor: default;
}
.main-nav--dropdown-content .no-strike {
  text-decoration: none;
}
.main-nav--dropdown-content .no-strike:hover {
  color: green;
  transform: scale(1.02);
}

@media only screen and (max-width: 1030px) {
  .main-nav--dropdown {
    margin: 0.75rem;
  }
  .main-nav--dropdown > h2 {
    font-size: 1.8rem;
  }
  .main-nav--dropdown--content {
    padding: 0.5rem;
  }
  .main-nav--dropdown--content .link {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 768px) {
  .centered {
    margin: 0 auto;
  }

  .main-nav {
    padding: 1rem 0 0.75rem;
    display: flex;
    justify-content: center;
  }
  .main-nav--dropdown {
    margin: 0 1.5rem;
  }
  .main-nav--dropdown > h2 {
    font-size: 2rem;
  }
  .main-nav--dropdown-content .link {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 625px) {
  .main-nav--dropdown {
    margin: 0 0.25rem;
  }
}
@media only screen and (max-width: 500px) {
  .main-nav {
    padding: 0.75rem 0.5rem 0.5rem;
    border-radius: 10px;
  }
  .main-nav--dropdown {
    margin: 0;
  }
  .main-nav--dropdown > h2 {
    font-size: 1.4rem;
  }
  .main-nav--dropdown-content {
    padding: 0.25rem;
  }
  .main-nav--dropdown-content .link {
    font-size: 0.9rem;
  }
}
.top-nav {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.3rem;
  cursor: pointer;
}
.top-nav h5 {
  margin: 0;
  color: black;
}
.top-nav h5:hover {
  color: purple;
}
.top-nav--dropdown {
  margin: -1rem;
}

.dropdown-icon {
  width: 30px;
  height: 30px;
}

.dropdown-container {
  position: absolute;
  right: 0.5rem;
  padding: 0.75rem;
  border-radius: 4px;
  background-color: beige;
  box-shadow: 0 0 5px black;
  font-size: 1.2rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  font-weight: bold;
  text-align: right;
  z-index: 7;
}
.dropdown-container img {
  width: 30px;
  height: 30px;
  margin: 0.25rem;
  margin-left: 0.5rem;
}
.dropdown-container div:hover {
  color: green;
  transform: scale(1.03);
}

@media only screen and (max-width: 1030px) {
  .top-nav {
    font-size: 1.25rem;
  }

  .dropdown img {
    width: 28px;
    height: 28px;
    margin-right: 0;
  }

  .dropdown-container {
    font-size: 1.2rem;
    margin-right: 0.25rem;
  }
}
@media only screen and (max-width: 768px) {
  .top-nav {
    font-size: 1.4rem;
    justify-content: center;
  }

  .dropdown img {
    width: 30px;
    height: 30px;
    margin: 0 0.5rem 0.2rem 1rem;
  }
}
@media only screen and (max-width: 500px) {
  .top-nav {
    font-size: 1.1rem;
  }

  .top-nav span {
    margin: 0 -0.5rem;
  }

  .dropdown img {
    width: 20px;
    height: 20px;
  }

  .dropdown-container {
    padding: 0.5rem;
    font-size: 0.9rem;
  }

  .dropdown-container img {
    margin: 0.3rem;
    margin-left: 0.6rem;
  }
}
.purple {
  color: purple;
}

.goldenrod {
  color: goldenrod;
}

.green {
  color: green;
}

.register-container {
  margin-top: 2rem;
  text-align: center;
}

.register-container h2 {
  font-size: 2.5rem;
  font-style: italic;
}

.register-container button {
  border-radius: 7px;
  margin: 1rem 0;
  padding: 0.25rem 1.5rem;
  color: white;
  background-color: rgb(32, 145, 32);
  border: 2px solid goldenrod;
  font-size: 2rem;
  z-index: 2;
}
.register-container button:hover {
  cursor: pointer;
  animation: button-gleam 700ms forwards;
}

@media only screen and (max-width: 800px) {
  .register-container h2 {
    font-size: 2.2rem;
  }

  .register-container button {
    margin: 0.5rem;
    padding: 0.25rem 1rem;
    font-size: 1.7rem;
  }
}
@media only screen and (max-width: 500px) {
  .register-container h2 {
    font-size: 2.1rem;
  }

  .register-container button {
    margin: 0.5rem;
    padding: 0.25rem 1rem;
    font-size: 1.5rem;
  }
}
.content {
  text-align: center;
}

.contact .page {
  margin: 18rem auto 30rem;
  padding: 2rem 3rem 3rem;
  background-color: beige;
  box-shadow: 2px 2px 5px black;
  text-align: center;
}
.contact .title {
  color: green;
  text-decoration: underline;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact .subtitle {
  margin-bottom: 2rem;
  color: rgb(175, 116, 175);
}
.contact .location h1 {
  font-size: 3.5rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.contact .location h2 {
  margin-top: 2rem;
}

@media only screen and (max-width: 992px) {
  .contact .location h2 {
    font-size: 2.5rem;
  }
  .contact .location h1 {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 768px) {
  .contact .page {
    margin: 2rem auto 5rem;
  }
}
@media only screen and (max-width: 576px) {
  .contact .page {
    padding: 2rem;
  }
  .contact .title {
    margin-top: -0.5rem;
    font-size: 2.5rem;
  }
  .contact .subtitle {
    margin-bottom: 1rem;
    font-size: 2rem;
  }
}
.credit-offer {
  width: 75vw;
  margin: 17rem auto 10rem;
  text-align: center;
}
.credit-offer .title {
  color: green;
  text-decoration: underline;
}
.credit-offer .subtitle {
  color: rgb(175, 116, 175);
  margin-bottom: 0;
}
.credit-offer .layout img {
  width: 50%;
}
.credit-offer .description {
  position: relative;
  width: 75%;
  margin: 0 auto;
}
.credit-offer .about {
  text-align: left;
  color: goldenrod;
  border-bottom: 2px solid purple;
  padding-bottom: 0.5rem;
}
.credit-offer .catchphrase {
  margin-bottom: 2rem;
  color: green;
  text-align: right;
}
.credit-offer .enroll {
  position: relative;
  text-decoration: none;
}
.credit-offer .enroll h1:hover {
  color: gold;
}
.credit-offer .enroll h2 {
  color: rgb(175, 116, 175);
  margin: 3rem auto;
}
.credit-offer .divider {
  width: 50%;
  margin: 2rem auto;
  border-top: 2px solid rgba(0, 128, 0, 0.7);
}
.credit-offer .legal {
  margin: 3rem 0 0;
}
.credit-offer .legal h3 {
  color: goldenrod;
  font-weight: bold;
}
.credit-offer .legal p {
  color: green;
  margin-bottom: 2rem;
}
.credit-offer .legal img {
  width: 100%;
  box-shadow: 0 0 4px black;
}
.credit-offer .reviews {
  position: relative;
  margin: 3rem auto 10rem;
}
.credit-offer .reviews h2 {
  color: green;
  width: 100%;
  margin: 5rem auto 2rem;
  padding: 0 0 1rem;
  border-bottom: 2px solid goldenrod;
}

@media only screen and (max-width: 768px) {
  .layout {
    margin-top: 2rem;
  }

  .layout * {
    text-align: center;
  }

  .layout img {
    width: 80%;
  }

  .legal img {
    width: 75vw;
    height: 50vh;
  }
}
.credits-header {
  position: relative;
  background-color: rgba(137, 43, 226, 0.788);
  height: 43rem;
  margin: 17rem 0 2.5rem;
  overflow-x: hidden;
  display: flex;
  justify-content: flex-end;
  z-index: -1;
}

.credits-header::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -5rem;
  overflow: hidden;
  right: 0;
  content: "";
  opacity: 0.75;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top 40% center;
}

.layout {
  overflow: hidden;
}

.account-data {
  position: relative;
  width: 75%;
  margin: 0 auto -8rem;
  padding: 1rem;
}

.button {
  position: relative;
  top: 0.25rem;
  left: 3%;
  padding: 0.8rem;
  border: 3px solid purple;
  border-bottom: 0;
  border-radius: 3px;
  font-size: 2rem;
  cursor: pointer;
}

.button:hover {
  background-color: gold;
  color: purple;
}

.selected {
  background-color: gold;
  color: purple;
  border: 3px solid green;
  border-bottom: 0;
  z-index: 2;
}

.unselected {
  background-color: white;
}

.green-line {
  position: relative;
  border-top: 4px solid green;
  border-radius: 6px;
  z-index: 1;
}

@media only screen and (max-width: 1030px) {
  .credits-header {
    margin-top: 15.5rem;
  }

  .button {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 992px) {
  .button {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 768px) {
  .credits-header {
    margin-top: 3rem;
  }
}
.crypto {
  margin: 17rem auto 10rem;
}
.crypto .title {
  margin-bottom: 1rem;
  text-align: center;
  color: green;
  text-decoration: underline;
}
.crypto .subtitle {
  margin-bottom: 3rem;
  color: rgb(175, 116, 175);
  text-align: center;
}

.crypto-table {
  width: 80%;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 0 0 4px black;
  text-align: center;
  overflow-x: scroll;
  cursor: default;
}

.tbody a {
  text-decoration: none;
  color: black;
}

.thead th {
  background-color: gold;
  font-size: 1.5rem;
  padding: 1rem;
}

.tbody {
  background-color: beige;
  font-size: 1.3rem;
}

.tbody td {
  padding: 1rem;
  padding-left: 1rem;
}

.tbody tr:hover {
  color: gold;
  background-color: rgb(175, 116, 175);
}

.tbody tr:hover a {
  color: white;
  text-decoration: underline;
}

.money {
  color: green;
}

.tbody tr:hover .money {
  color: gold;
}

.footer {
  width: 80%;
  margin: 2rem auto 0;
  padding: 1rem 1.5rem;
  border-top: 3px solid purple;
  border-bottom: 3px solid purple;
  background-color: gold;
  font-weight: bold;
  text-align: center;
}

.footer h4 {
  font-size: 1.8rem;
}

.footer a {
  color: black;
}

.footer a:hover {
  color: black;
}

.content {
  width: 75%;
  margin: 3rem auto 7rem;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.apiError {
  width: 40%;
  margin: 5rem auto 6rem;
  padding: 1rem 0;
  text-align: center;
  background-color: red;
  box-shadow: 10px 10px black;
}

.apiError h1 {
  position: relative;
  color: white;
  font-size: 3rem;
  margin: 1rem 0;
}

.apiError p {
  position: relative;
  font-size: 1.3rem;
}

@media only screen and (max-width: 768px) {
  .crypto {
    margin-top: 2rem;
  }
}
.apply {
  margin: 3rem 0 1rem;
}

.apply h2 {
  font-size: 2rem;
}

.purple {
  color: purple;
}

@media only screen and (max-width: 500px) {
  .apply h2 {
    font-size: 1.4rem;
  }
}
.debits-header {
  position: relative;
  height: 43rem;
  margin: 17rem 0 2.5rem;
  overflow-x: hidden;
  background-color: rgba(137, 43, 226, 0.788);
  display: flex;
  justify-content: flex-end;
  z-index: -1;
}

.debits-header__checking::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -5rem;
  overflow: hidden;
  right: 0;
  content: "";
  opacity: 0.75;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 10% 40%;
}

.debits-header__savings::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -5rem;
  overflow: hidden;
  right: 0;
  content: "";
  opacity: 0.75;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top 30% center;
}

.layout {
  overflow: hidden;
}

.account-data {
  position: relative;
  width: 75%;
  margin: 0 auto -8rem;
  padding: 1rem;
}

.button {
  position: relative;
  top: 0.25rem;
  left: 3%;
  padding: 0.8rem;
  border: 3px solid purple;
  border-bottom: 0;
  border-radius: 3px;
  font-size: 2rem;
  cursor: pointer;
}

.button:hover {
  background-color: gold;
  color: purple;
}

.selected {
  background-color: gold;
  color: purple;
  border: 3px solid green;
  border-bottom: 0;
  z-index: 2;
}

.unselected {
  background-color: white;
}

.green-line {
  position: relative;
  border-top: 4px solid green;
  border-radius: 6px;
  z-index: 1;
}

@media only screen and (max-width: 1030px) {
  .debits-header {
    margin-top: 15.5rem;
  }

  .button {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 768px) {
  .debits-header {
    margin-top: 3rem;
  }
}
.find-branch {
  margin: 17rem auto 10rem;
}
.find-branch .title {
  color: green;
  font-size: 4rem;
  text-decoration: underline;
  text-align: center;
}
.find-branch .subtitle {
  margin-bottom: 3rem;
  color: rgb(175, 116, 175);
  text-align: center;
}

.search {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
}

.returns {
  margin: auto 0;
  max-height: 35rem;
  overflow: scroll;
}

.map {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
}

@media only screen and (max-width: 768px) {
  .layout {
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 500px) {
  .title {
    font-size: 2.8rem;
  }

  .subtitle {
    font-size: 2.1rem;
  }
}
.small {
  font-size: 1.2rem;
}

@media only screen and (max-width: 800px) {
  .small {
    font-size: 1rem;
  }
}
.home-header {
  position: relative;
  height: 43rem;
  margin: 17rem 0 2.5rem;
  overflow-x: hidden;
  background-color: rgba(137, 43, 226, 0.788);
  display: flex;
  justify-content: flex-end;
  z-index: -1;
}

.home-header::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -5rem;
  overflow: hidden;
  right: 0;
  content: "";
  opacity: 0.75;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top 40% center;
}

.layout {
  margin: 0 auto;
  padding: 8rem 0;
  overflow-x: hidden;
}

.table-container {
  margin: 5rem 0 10rem;
}

.main-title {
  margin: 0 auto;
  color: purple;
  border-bottom: 4px solid purple;
  border-radius: 5px;
  z-index: 2;
}

.main-title h1 {
  font-size: 3.5rem;
}

.table {
  margin: 0 auto;
  padding-top: 1rem;
  background-color: gold;
  box-shadow: 0 0 5px black;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.table * {
  font-size: 1.5rem;
  text-align: center;
}

.thead {
  margin: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.line-item {
  margin: 1rem 0;
  display: flex;
  align-items: center;
}

.line-item:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.advert {
  margin-bottom: 1rem;
  padding: 1rem 0;
  background-color: white;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  text-decoration: none;
  cursor: pointer;
}

.advert:hover {
  border-top: 2px solid lime;
  border-bottom: 2px solid lime;
  background-color: red;
  color: white;
}

.green {
  color: green;
}

.red {
  color: red;
}

@media only screen and (max-width: 1030px) {
  .home-header {
    margin-top: 15.5rem;
  }

  .layout {
    padding-bottom: 2rem;
  }

  .account {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 768px) {
  .home-header {
    margin-top: 3rem;
  }

  .main-title h1 {
    font-size: 3rem;
  }

  .account {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 500px) {
  .layout {
    padding-bottom: 0;
  }

  .main-title h1 {
    font-size: 2.5rem;
  }

  .table * {
    font-size: 1.2rem;
  }
}
.languages h2 {
  margin: 2rem 0;
}

.languages h2:nth-child(odd) {
  color: goldenrod;
}

.languages h2:nth-child(even) {
  color: dodgerblue;
}

@media only screen and (max-width: 500px) {
  .languages h2 {
    font-size: 2rem;
  }
}
.layout {
  width: 50%;
  height: 60vh;
  margin: 18rem auto 10rem;
  padding: 3rem;
  border: 15px solid goldenrod;
  background-color: rgba(165, 42, 42, 0.9);
  box-shadow: -30px 20px 10px black, 30px -20px 10px green;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.layout h1 {
  color: gold;
}

.layout h2 {
  color: white;
}

.layout p {
  color: gold;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .layout {
    margin-top: 3rem;
  }
}
.heading {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading img {
  width: 300px;
  margin: 1rem 0;
  z-index: 2;
}

.heading h4 {
  margin: 2rem 0;
}

.color {
  color: red;
  font-weight: bold;
}

@media only screen and (max-width: 1200px) {
  .heading img {
    width: 250px;
  }
}
@media only screen and (max-width: 992px) {
  .heading img {
    width: 200px;
  }
}
@media only screen and (max-width: 768px) {
  .heading img {
    width: 250px;
  }
}
@media only screen and (max-width: 500px) {
  .heading img {
    width: 200px;
  }
}
.loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 3;
}

.form {
  margin: 18rem auto 10rem;
  padding: 2rem 1rem;
  background-color: rgb(175, 116, 175);
  box-shadow: 6px 6px 2px black;
  text-align: center;
  font-size: 1.3rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form h1 {
  color: gold;
}

.text-fields {
  margin-bottom: 1rem;
}

.text-fields input {
  margin: 1.5rem auto;
  border: none;
  border-radius: 12px;
  padding: 0.5rem 0.7rem;
  box-shadow: 1px 2px black;
  font-size: 1.2rem;
  display: block;
}

.radio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio div {
  margin: 0.25rem 0.5rem;
}

.radio input {
  margin: 0 0.5rem;
  transform: scale(1.3);
}

.form p {
  margin: 0.25rem auto;
  padding: 0.25rem 0;
  text-align: center;
  background-color: lime;
  font-weight: bold;
  color: red;
}

.country {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.country label {
  margin: 0.25rem 0;
}

.country select {
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: gold;
  border-radius: 5px;
  text-align: center;
}

.certify {
  text-align: left;
  margin: 1.5rem 0;
}

.certify input {
  transform: scale(1.3);
}

.text {
  font-size: 1.2rem;
}

.access {
  margin: -1rem 0 3rem;
  text-align: center;
}

.access button {
  margin: 2rem 0 -1rem;
  padding: 0.75rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: gold;
  color: green;
  border-radius: 3px;
  box-shadow: 1px 1px black;
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .text-fields input {
    width: 80%;
  }

  .form p {
    font-size: 1.2rem;
  }

  .text {
    font-size: 1.2rem;
  }

  .country select {
    padding: 0.5rem;
    font-size: 1.2rem;
  }

  .certify input {
    transform: scale(1.2);
  }
}
@media only screen and (max-width: 768px) {
  .form {
    margin: 4rem auto 5rem;
  }
}
@media only screen and (max-width: 500px) {
  .form h1 {
    font-size: 2.8rem;
  }

  .text-fields input {
    width: 75%;
    padding: 0.25rem 0.75rem;
  }

  .click-fields {
    width: 90%;
    margin-bottom: 1rem;
  }

  .country {
    margin-bottom: 2rem;
  }

  .country select {
    font-size: 1.1rem;
  }

  .certify input {
    transform: scale(1.1);
  }
}
.layout div {
  margin: 1rem 0;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.layout h3 {
  font-size: 2.3rem;
  color: goldenrod;
  font-weight: bold;
}

.layout p {
  font-size: 1.9rem;
  word-wrap: break-word;
}

.buttons {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}

.buttons button {
  margin: 0.5rem auto;
  padding: 0.25rem 1rem;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 1.4rem;
  cursor: pointer;
}

.purple {
  background-color: rgb(175, 116, 175);
  color: white;
}

.gold {
  background-color: gold;
}

.content {
  margin: 0 auto 1.5rem;
  width: 60%;
  font-size: 1.1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.yes button {
  padding: 0.75rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: gold;
  color: green;
  border-radius: 3px;
  box-shadow: 1px 1px black;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .layout div {
    margin: 1rem auto;
    flex-direction: column;
  }

  .layout h3 {
    margin: 0 auto;
    font-size: 2rem;
  }

  .layout p {
    margin: 0 auto;
    font-size: 1.6rem;
  }

  .buttons button {
    margin: 0.5rem auto;
    padding: 0.25rem 0.75rem;
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 700px) {
  .layout h3 {
    font-size: 1.6rem;
  }

  .layout p {
    font-size: 1.2rem;
  }

  .buttons button {
    margin: 0.5rem auto;
    padding: 0.25rem 0.5rem;
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 500px) {
  .layout p {
    width: 50%;
  }
}
.details {
  margin-top: 3rem;
  width: 90vw;
  height: 7rem;
  padding: 1rem;
  background-color: rgba(165, 42, 42, 0.7);
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name {
  font-size: 3rem;
  color: gold;
}

.date {
  font-size: 2rem;
  color: black;
}

@media only screen and (max-width: 630px) {
  .name {
    font-size: 2.5rem;
  }

  .date {
    margin: 0;
  }
}
@media only screen and (max-width: 500px) and (max-height: 900px) {
  .details {
    margin-top: 3rem;
  }

  .name {
    font-size: 2rem;
  }

  .date {
    font-size: 1.7rem;
  }
}
.table {
  width: 96%;
  margin-left: 2%;
  margin-bottom: 18rem;
  padding: 2rem;
  background-color: gold;
  box-shadow: 0 0 5px black;
  text-align: left;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  overflow-x: scroll;
}

.table * {
  margin: 0.5rem 0;
}

.trow {
  display: flex;
  align-items: baseline;
}

.trow > * {
  margin: 0.5rem 2rem;
}

.layout {
  width: 60rem;
  margin: 0 auto;
}

@media only screen and (max-width: 992px) {
  .table {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 900px) {
  .trow {
    margin-right: -15rem;
  }
}
@media only screen and (max-width: 500px) {
  .layout {
    width: 45rem;
  }
}
.table {
  width: 96%;
  margin-left: 2%;
  margin-bottom: 18rem;
  padding: 2rem;
  background-color: gold;
  box-shadow: 0 0 5px black;
  text-align: left;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
}

.table * {
  margin: 0.5rem 0;
}

.trow {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 992px) {
  .table {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 576px) {
  .table {
    text-align: center;
  }
}
.summary {
  margin: 14rem auto 5rem;
  padding: 1.5rem 1rem 1rem;
  max-width: 35rem;
  border-radius: 2px;
  background-color: rgba(9, 189, 189, 0.9);
  box-shadow: 2px 2px 4px black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.summary h1 {
  margin-top: -1rem;
  color: green;
  font-weight: bold;
}

.summary select {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 6px;
  background-color: gold;
  font-weight: bold;
  font-size: 1.5rem;
}

.data {
  margin: 0;
  margin-top: 0.5rem;
  display: flex;
  align-items: baseline;
}

.data h5 {
  color: green;
  margin: -0.5rem 0 1rem;
}

@media only screen and (max-width: 992px) {
  .summary p {
    font-size: 1.3rem;
  }

  .summary h1 {
    font-size: 3.5rem;
  }

  .summary select {
    margin: 0.5rem 0 1.5rem;
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 576px) {
  .summary {
    max-width: 23rem;
    text-align: center;
  }

  .summary select {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 500px) {
  .summary {
    max-width: 20rem;
    text-align: center;
  }

  .summary h1 {
    font-size: 3rem;
  }

  .summary select {
    font-size: 1.2rem;
  }

  .data h5 {
    font-weight: bold;
  }
}
.table {
  width: 96%;
  margin-left: 2%;
  margin-bottom: 18rem;
  padding: 1rem;
  background-color: gold;
  box-shadow: 0 0 5px black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  overflow-x: scroll;
}

.trow {
  display: flex;
  align-items: baseline;
}

.trow > * {
  margin: 0.5rem 2rem;
}

.layout {
  width: 90rem;
  margin: 0 auto;
}

@media only screen and (max-width: 992px) {
  .table {
    font-size: 1.2rem;
  }
}
.table {
  width: 96%;
  margin-left: 2%;
  margin-bottom: 18rem;
  padding: 2rem;
  background-color: gold;
  box-shadow: 0 0 5px black;
  text-align: left;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
}

.table * {
  margin: 0.5rem 0;
}

.trow {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media only screen and (max-width: 992px) {
  .table {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 576px) {
  .table {
    text-align: center;
  }
}
.summary {
  margin: 14rem auto 5rem;
  padding: 1.5rem 1rem 1rem;
  max-width: 35rem;
  border-radius: 2px;
  background-color: rgba(9, 189, 189, 0.9);
  box-shadow: 2px 2px 4px black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.summary h1 {
  margin-top: -1rem;
  color: green;
  font-weight: bold;
}

.summary select {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 6px;
  background-color: gold;
  font-weight: bold;
  font-size: 1.5rem;
}

.data {
  margin: 0;
  margin-top: 0.5rem;
  display: flex;
  align-items: baseline;
}

.data h5 {
  color: green;
  margin: -0.5rem 0 1rem;
}

@media only screen and (max-width: 992px) {
  .summary p {
    font-size: 1.3rem;
  }

  .summary h1 {
    font-size: 3.5rem;
  }

  .summary select {
    margin: 0.5rem 0 1.5rem;
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 576px) {
  .summary {
    max-width: 23rem;
    text-align: center;
  }

  .summary select {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 500px) {
  .summary {
    max-width: 20rem;
    text-align: center;
  }

  .summary h1 {
    font-size: 3rem;
  }

  .summary select {
    /* padding: 0.25rem 0; */
    font-size: 1rem;
  }

  .data h5 {
    font-weight: bold;
  }
}
.spotted {
  text-align: center;
  position: relative;
  margin: 0.5rem 0 1rem;
  padding: 0.25rem;
  width: 103%;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: scroll;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background-color: lime;
  color: rgb(208, 26, 26);
  left: -1rem;
  text-decoration: underline;
}

.status-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.icon {
  width: 50px;
  margin-right: 1rem;
  padding: 0.25rem;
}

.status {
  margin: 0.25rem 0;
}

.name {
  color: green;
  margin: 0 1rem 0 0;
  font-size: 1.8rem;
}

.rating {
  width: 100px;
  margin: 0.5rem 0;
}

.address {
  margin: 0.5rem 0;
}

.wait {
  position: absolute;
  width: 120%;
  height: 100%;
  left: -3vw;
  white-space: nowrap;
  z-index: 3;
}

.wait h1 {
  font-size: 3rem;
  color: rgb(208, 26, 26);
  background-color: lime;
  animation: blink 200ms steps(2, start);
  animation-iteration-count: 50;
}

.locate-icon {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  padding: 0.25rem;
  width: 4rem;
  background-color: rgb(175, 116, 175);
  border-radius: 10px;
  cursor: pointer;
  z-index: 2;
}

.compass {
  width: 50px;
}

.card {
  margin: 0.5rem 1rem 1rem;
  padding: 0.5rem 1rem;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 1px 1px 1px black;
  background-color: white;
  z-index: 2;
}

.name {
  color: green;
  margin: 0.5rem 0;
}

.status-container {
  display: flex;
  align-items: center;
}

.icon {
  width: 50px;
  margin-right: 1rem;
  padding: 0.25rem;
}

.status {
  margin: 0.25rem 0;
}

.rating {
  width: 100px;
  margin: 0.5rem 0;
}

.address {
  margin: 0.5rem 0;
}

.input {
  width: 80%;
  padding: 0.25rem 1rem;
  font-size: 1.3rem;
  border-radius: 5px;
  box-shadow: 1px 1px 1px black;
  border: 2px solid black;
}

.popover {
  padding: 0.5rem;
  background-color: rgb(245, 245, 220);
  border-radius: 4px;
  box-shadow: -1px 1px 4px black;
  font-size: 1.1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  z-index: 2;
}

.option {
  background-color: none;
}

.option:hover {
  background-color: none;
  color: green;
  transform: scale(1.02);
}

.results-message {
  margin: 1.5rem auto;
  color: goldenrod;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .results-message {
    width: 80%;
  }
}
.container {
  border: 1px solid transparent;
  /* affects sticky pos */
  position: sticky;
  /* affects sticky pos */
}

.green {
  height: 5rem;
  margin: 5rem auto -10rem;
  background-color: rgb(10, 152, 33);
  border-radius: 15px;
  padding: 0.5rem 0;
  animation: slide-in-green 1.5s ease-in-out forwards;
}

.title {
  margin: 5rem auto -10rem;
  /*affects sticky pos */
  color: gold;
  text-align: center;
  animation: slide-in 1.5s ease-in-out forwards;
}

/*  HEIGHTS  */
@media only screen and (max-height: 1400px) {
  .container {
    bottom: 51vh;
  }
}
@media only screen and (max-height: 1200px) {
  .container {
    bottom: 44vh;
  }
}
@media only screen and (max-height: 1100px) {
  .container {
    bottom: 35vh;
  }
}
@media only screen and (max-height: 1000px) {
  .container {
    bottom: 27vh;
  }
}
@media only screen and (max-height: 860px) {
  .container {
    bottom: 20vh;
  }
}
@media only screen and (max-height: 810px) {
  .container {
    bottom: 16vh;
  }
}
@media only screen and (max-height: 750px) {
  .container {
    bottom: 10vh;
  }
}
@media only screen and (max-height: 700px) {
  .container {
    bottom: 4vh;
  }
}
@media only screen and (max-height: 550px) {
  .container {
    bottom: 3vh;
  }
}
/*  WIDTHS  */
@media only screen and (max-width: 1450px) {
  @keyframes slide-in-green {
    from {
      margin-left: -100%;
      width: 100%;
    }
    to {
      width: 70%;
      margin-left: -2rem;
    }
  }
}
@media only screen and (max-width: 1280px) {
  @keyframes slide-in-green {
    from {
      margin-left: -100%;
      width: 100%;
    }
    to {
      width: 78%;
      margin-left: -2rem;
    }
  }
}
@media only screen and (max-width: 900px) {
  @keyframes slide-in-green {
    from {
      margin-left: -100%;
      width: 100%;
    }
    to {
      width: 85%;
      margin-left: -2rem;
    }
  }
}
@media only screen and (max-width: 800px) {
  .green {
    height: 5.5rem;
  }
}
@media only screen and (max-width: 600px) {
  @keyframes slide-in-green {
    from {
      margin-left: -100%;
      width: 100%;
    }
    to {
      width: 100%;
      margin-left: -2rem;
    }
  }
}
/*  BOTH DIMENSIONS  */
@media only screen and (max-width: 768px) and (max-height: 1000px) {
  .container {
    bottom: 33vh;
  }
}
@media only screen and (max-width: 500px) and (max-height: 900px) {
  .container {
    bottom: 30vh;
  }

  .title {
    font-size: 2.7rem;
    margin: 5.75rem auto -10rem;
  }

  .green {
    height: 5rem;
  }
}
.layout {
  padding: 1rem 0;
  border-bottom: 2px solid goldenrod;
  font-family: Arial, Helvetica, sans-serif;
}

.user-info {
  margin-bottom: 1rem;
  text-align: left;
}

.username {
  color: green;
  font-size: 1.8rem;
}

.user-info p {
  margin: 0.25rem 0;
  font-size: 1.2rem;
}

.comment-info {
  text-align: left;
}

.comment-info p {
  font-size: 1.3rem;
}

.comment-header {
  margin-bottom: 0.5rem;
  margin-left: -1rem;
  display: flex;
  justify-content: space-between;
}

.comment-header img {
  width: 125px;
  margin: 0.25rem 0;
}

.comment-header p {
  margin: 0.25rem 0;
  margin-left: 0.25rem;
}

.title {
  color: rgb(175, 116, 175);
}

.rating {
  color: green;
  margin: 1rem 0;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recommendation {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recommendation img {
  width: 40px;
  margin-right: 1rem;
}

.recommendation p {
  padding-top: 1rem;
  text-align: center;
}

.card {
  margin: 1rem 0;
  padding: 2rem;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 3px 3px 2px black;
  background-color: aliceblue;
  font-family: "Times New Roman", Times, serif;
}

.department {
  margin-bottom: 2rem;
  color: goldenrod;
  display: flex;
  justify-content: center;
}

.content {
  min-height: 30rem;
  margin: 1rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content p {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.4rem;
}

.issue {
  font-weight: bold;
}

.wait-time {
  color: rgb(175, 116, 175);
  font-size: 1.7rem;
  font-weight: bold;
}

@media only screen and (max-width: 1400px) {
  .content {
    min-height: 45vh;
  }
}
@media only screen and (max-width: 1200px) {
  .content {
    text-align: center;
  }
}
@media only screen and (max-width: 992px) {
  .content {
    height: 5vh;
    overflow-y: scroll;
  }
}
.form-button {
  margin: 1rem 0;
  padding: 0.25rem 1.5rem;
  border-radius: 25px;
  background-color: inherit;
  font-size: 1.4rem;
  font-weight: bold;
  border: 2px solid white;
}

.form-button:disabled {
  border: 2px solid white;
  border-radius: 25px;
  padding: 0.25rem 1.5rem;
  color: black;
}

.form-button:hover {
  cursor: pointer;
  animation: button-gleam-2 700ms forwards;
}

.form-button:disabled:hover {
  background-color: goldenrod;
  animation: none;
  cursor: default;
}

@media only screen and (max-width: 500px) {
  .form-button {
    padding: 0.25rem 1.5rem;
    font-size: 1.3rem;
    font-weight: bold;
  }

  .form-button:disabled {
    padding: 0.25rem 1.25rem;
  }
}
.content {
  text-align: left;
  margin: 0 auto;
  padding-right: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content h4 {
  margin: 1rem 0;
}

.content p {
  font-family: "Times New Roman", Times, serif;
}

.quote-block {
  margin: 1rem 0;
}

.quote-block > * {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.quote {
  color: goldenrod;
}

.speaker {
  color: green;
}

.ceo {
  /* border: 2px solid orange; */
  margin-top: 10vh;
  text-align: left;
  border-left: 2px solid goldenrod;
}

.contact {
  margin-bottom: 0.75rem;
  color: green;
  text-align: center;
}

.ceo h3 {
  margin: 0.75rem 0;
}

.ceo img {
  width: 110%;
}

.role {
  margin: -0.5rem 0 1.5rem;
}

.dogmo p {
  font-size: 1.1rem;
}

@media only screen and (max-width: 1210px) {
  .content {
    text-align: center;
  }
}
@media only screen and (max-width: 992px) {
  .ceo {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .contact {
    font-size: 3.3rem;
  }

  .ceo img {
    width: 70%;
  }

  .ceo h3 {
    margin: 1rem 0;
    font-size: 2.4rem;
    color: goldenrod;
  }

  .dogmo p {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 768px) {
  .contact {
    font-size: 2.5rem;
  }

  .ceo img {
    width: 60%;
  }

  .ceo h3 {
    margin: 1rem 0;
    font-size: 2rem;
    color: goldenrod;
  }

  .dogmo p {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 500px) {
  .content {
    padding-right: 0;
  }

  .content h2 {
    font-size: 2.2rem;
  }

  .quote {
    font-size: 1.6rem;
  }
}
.logo {
  position: fixed;
  top: 8.5rem;
  border-radius: 0 20px 20px 0;
  background-color: rgb(225, 193, 15);
  z-index: 2;
  cursor: pointer;
}
.logo:hover {
  background-color: goldenrod;
}
.logo .icon--bag {
  width: 50px;
  height: 50px;
}
.logo--title {
  margin: 0 0.5rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 3.2rem;
  font-style: italic;
  font-weight: bold;
  color: purple;
}

.motto {
  position: absolute;
  top: 9.2rem;
  transform: translateX(-50%);
  font-family: "Courier New", Courier, monospace;
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;
}
.motto--slide-in {
  animation: motto-slide-in 2.5s forwards;
}

@media only screen and (max-width: 1328px) {
  .motto {
    font-size: 1.5rem;
    top: 9.8rem;
  }

  @keyframes logo-slidein {
    to {
      left: 15.5rem;
    }
  }
}
@media only screen and (max-width: 1030px) {
  .logo-nav {
    margin: -1rem 0 -2.5rem -2rem;
  }

  .handbag {
    width: 38px;
    height: 38px;
  }

  .purse {
    margin: -0.1rem 0.25rem;
    font-size: 2.8rem;
  }

  .motto {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .logo-nav {
    margin: -0.75rem auto 0;
    padding: 1.75rem 0.5rem 0.25rem;
    border-radius: 10px;
  }

  .handbag {
    display: none;
  }

  .purse {
    font-size: 3.2rem;
  }
}
@media only screen and (max-width: 500px) {
  .logo-nav {
    margin: -0.75rem auto 0;
    padding: 1.75rem 0.5rem 0.25rem;
    border-radius: 10px;
  }

  .handbag {
    width: 0;
    height: 0;
  }

  .purse {
    font-size: 2.5rem;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 3;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 20rem;
  max-width: 40rem;
  height: 75vh;
  background-color: rgb(129, 206, 206);
  border: 1px solid black;
  box-shadow: 0 0 2px black;
  padding: 2rem;
  text-align: center;
  overflow: scroll;
  z-index: 5;
}

.title {
  color: green;
  font-size: 4rem;
  text-align: center;
  text-decoration: underline;
  font-family: "Times New Roman", Times, serif;
}

.subtitle {
  color: purple;
  font-size: 2.5rem;
  margin: 0.5rem 0 2rem;
  text-align: center;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}

.content {
  min-height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 500px) {
  .modal {
    height: 80vh;
  }
}
.my-purse-btn {
  width: 18%;
  position: relative;
  top: -0.75rem;
  right: -0.1rem;
  margin-bottom: 0.5rem;
  padding: 0.1rem;
  border-radius: 20px 0 0 20px;
  border: 0.5px solid black;
  box-shadow: -1px -1px 4px black;
  background-color: gold;
  cursor: pointer;
}
.my-purse-btn:hover {
  animation: button-gleam-2 400ms forwards;
}
.my-purse-btn:hover .dropdown-content {
  display: block;
  z-index: 3;
}
.my-purse-btn button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  color: black;
  background-color: inherit;
}
.my-purse-btn--content {
  position: absolute;
  padding: 0.75rem;
  border-radius: 4px;
  background-color: beige;
  box-shadow: 0 0 5px black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-align: right;
  display: none;
}
.my-purse-btn--content button {
  margin: 0.75rem;
  margin-right: 0.25rem;
  background-color: inherit;
  border: 1px solid black;
  border-radius: 20px;
  padding: 0.25rem 0.75rem;
  font-size: 1.3rem;
  font-weight: bold;
  color: purple;
  cursor: pointer;
}
.my-purse-btn--content button:hover {
  animation: button-gleam-2 500ms forwards;
}
.my-purse-btn--content .link {
  margin: 0.5rem;
  font-size: 1.3rem;
  text-decoration: none;
  color: black;
  display: block;
}
.my-purse-btn--content .link:hover {
  color: green;
  transform: scale(1.02);
}

@media only screen and (max-width: 1030px) {
  .button-container button {
    font-size: 1.4rem;
  }
  .button-container--content {
    padding: 0.5rem;
  }
  .button-container--content button {
    font-size: 1.2rem;
  }

  .link {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 768px) {
  .button-container {
    top: -0.5rem;
    text-align: center;
  }
  .button-container .centered {
    margin: 0 auto;
  }
  .button-container--content {
    text-align: center;
  }
  .button-container--content button {
    margin: 0.5rem 0;
  }
}
@media only screen and (max-width: 500px) {
  .button-container button {
    font-size: 1.1rem;
  }
  .button-container--content button {
    font-size: 1rem;
  }

  .link {
    font-size: 1rem;
  }
}
.page {
  margin: 18rem auto 10rem;
  padding: 2rem 3rem 3rem;
  background-color: beige;
  box-shadow: 2px 2px 5px black;
  text-align: center;
}

.title {
  color: green;
  text-decoration: underline;
}

.subtitle {
  margin-bottom: 2rem;
  color: rgb(175, 116, 175);
}

.page img {
  width: 10rem;
}

.content {
  max-width: 60rem;
  min-height: 40vh;
  margin: 0 auto;
  padding: 2rem 4rem;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: rgba(240, 248, 255, 0.542);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .page {
    margin: 2rem auto 5rem;
  }

  .content {
    padding: 2rem;
  }
}
@media only screen and (max-width: 576px) {
  .page {
    padding: 2rem;
  }

  .title {
    margin-top: -0.5rem;
    font-size: 2.5rem;
  }

  .subtitle {
    margin-bottom: 1.5rem;
    font-size: 2rem;
  }

  .content {
    padding: 1.5rem;
  }

  .content p {
    font-size: 1.1rem;
  }
}
.card {
  margin: 1rem 0 2rem;
  border-radius: 3px;
  box-shadow: 1px 1px 1px black;
}

.card:hover {
  animation: bump 800ms forwards;
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  z-index: 2;
}

.content {
  height: 22rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 3rem;
  color: green;
}

.content p {
  font-family: "Times New Roman", Times, serif;
}

.learn-container {
  text-align: right;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

.learn-container button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  color: black;
  background-color: rgb(175, 116, 175);
  cursor: pointer;
  z-index: 2;
  text-decoration: none;
}

.learn-container button:hover {
  color: gold;
  animation: button-gleam-2 700ms forwards;
}

@media only screen and (max-width: 1200px) {
  .title {
    font-size: 2.5rem;
  }

  .content p {
    font-size: 1.3rem;
  }

  .learn-container button {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 1000px) {
  .title {
    font-size: 4rem;
  }

  .content p {
    font-size: 1.8rem;
  }

  .learn-container button {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 768px) {
  .title {
    font-size: 3rem;
  }

  .content p {
    font-size: 1.7rem;
  }

  .learn-container button {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 500px) {
  .title {
    font-size: 2.6rem;
  }

  .content p {
    font-size: 1.4rem;
  }

  .learn-container button {
    font-size: 1.1rem;
  }
}
.card {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card:hover {
  cursor: pointer;
  animation: bump-2 800ms forwards;
}

.link {
  text-decoration: none;
}

.description {
  font-size: 1.4rem;
  color: black;
}

.card img {
  width: 266px;
  height: 200px;
  margin: -0.5rem 0;
}

.wrapper {
  margin: 0 auto;
  min-height: 15vh;
}

.annual-fee {
  color: black;
  font-size: 1.2rem;
}

.signing-number {
  margin: -0.5rem 0;
  font-family: "Times New Roman", Times, serif;
  font-size: 5rem;
  font-weight: bold;
  color: purple;
}

.signing-bonus {
  color: purple;
  font-size: 1.3rem;
}

.cashback-offer {
  color: green;
  font-weight: bold;
  font-size: 1.3rem;
}

@media only screen and (max-width: 1400px) {
  .card img {
    width: 200px;
    height: 150px;
  }

  .description {
    font-size: 1.3rem;
  }

  .annual-fee {
    font-size: 1.1rem;
  }

  .signing-number {
    font-size: 4rem;
  }

  .signing-bonus {
    font-size: 1.2rem;
  }

  .cashback-offer {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 1200px) {
  .card img {
    width: 250px;
    height: 188px;
  }

  .description {
    font-size: 1.3rem;
  }

  .annual-fee {
    font-size: 1.2rem;
  }

  .signing-number {
    font-size: 4rem;
  }

  .signing-bonus {
    font-size: 1.3rem;
  }

  .cashback-offer {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 992px) {
  .card img {
    width: 300px;
    height: 226px;
  }

  .description {
    font-size: 1.4rem;
  }

  .annual-fee {
    font-size: 1.4rem;
  }

  .signing-number {
    font-size: 5rem;
  }

  .wrapper {
    width: 40vw;
    min-height: 25vh;
  }

  .signing-bonus {
    font-size: 1.5rem;
  }

  .cashback-offer {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 600px) {
  .wrapper {
    width: 50vw;
  }
}
@media only screen and (max-width: 500px) {
  .card img {
    width: 200px;
    height: 150px;
  }

  .description {
    font-size: 1.1rem;
  }

  .annual-fee {
    font-size: 1rem;
  }

  .signing-number {
    font-size: 3.5rem;
  }

  .wrapper {
    min-height: 27vh;
  }

  .signing-bonus {
    font-size: 1.1rem;
  }

  .cashback-offer {
    font-size: 1.1rem;
  }
}
.legal-banner {
  margin: 8rem 0 5rem;
}
.legal-banner h1 {
  text-align: center;
  font-size: 2.7rem;
  margin-bottom: 1rem;
}
.legal-banner .legal-content {
  background-color: rgba(218, 165, 32, 0.8);
  height: 140vh;
}
.legal-banner .legal-content p {
  position: relative;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.3rem;
  z-index: 2;
}
.legal-banner .first-p {
  padding: 1rem 1.5rem;
}
.legal-banner .second-p {
  margin-top: -2.5rem;
  margin-left: -2rem;
}
.legal-banner .third-p {
  margin-top: -1.5rem;
  width: 110%;
  text-align: right;
}
.legal-banner .fourth-p {
  margin-top: -1rem;
}

@media only screen and (max-width: 768px) {
  .legal-content {
    height: 420vh;
  }
}
@media only screen and (max-width: 500px) {
  .legal-content {
    overflow: hidden;
  }

  .legal-content p {
    font-size: 1.2rem;
  }
}
.personality-banner {
  margin-top: 10rem;
}
.personality-banner .heading {
  text-align: center;
  font-size: 2.7rem;
  margin-bottom: 1rem;
}
.personality-banner .green {
  color: green;
  font-weight: bold;
}
.personality-banner .wrapper {
  margin: 0 auto;
}

@media only screen and (max-width: 400px) {
  .personality-banner .heading {
    font-size: 2.5rem;
  }
}
.register-banner {
  border: 2px solid purple;
  margin-top: 8rem;
  padding: 1.5rem;
  border-radius: 5px;
  box-shadow: 2px 2px 4px purple;
}
.register-banner .section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.register-banner .section h1 {
  color: green;
  font-size: 3rem;
  margin-left: 0.5rem;
}
.register-banner .section p {
  padding: 0.5rem;
  font-size: 1.3rem;
}
.register-banner .money-mural {
  margin: 0 auto;
  z-index: 2;
}
.register-banner .money-mural img {
  width: 500px;
  height: 312px;
}
.register-banner .moneybags {
  margin: 1rem auto;
  text-align: center;
  z-index: 2;
}
.register-banner .moneybags img {
  width: 100px;
  height: 100px;
}
.register-banner .register-container {
  text-align: center;
  display: flex;
  align-items: center;
}
.register-banner .register-container h2 {
  font-size: 2.5rem;
  font-style: italic;
}
.register-banner .register-container button {
  border-radius: 7px;
  padding: 0.25rem 1.5rem;
  color: white;
  background-color: rgb(32, 145, 32);
  border: 2px solid goldenrod;
  font-size: 2rem;
  z-index: 2;
}
.register-banner .register-container button:hover {
  cursor: pointer;
  animation: button-gleam 700ms forwards;
}

@media only screen and (max-width: 1400px) {
  .money-mural img {
    width: 500px;
    height: 300px;
  }
}
@media only screen and (max-width: 1200px) {
  .money-mural img {
    width: 425px;
    height: 255px;
  }
}
@media only screen and (max-width: 992px) {
  .money-mural img {
    width: 325px;
    height: 195px;
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 900px) {
  .section {
    text-align: center;
  }
}
@media only screen and (max-width: 500px) {
  .section p {
    padding: 0.25rem;
    font-size: 1.2rem;
  }

  .money-mural img {
    width: 300px;
    height: 180px;
  }

  .register-container h2 {
    font-size: 2.3rem;
  }

  .register-container button {
    padding: 0.25rem 1rem;
    font-size: 1.8rem;
  }
}
.sign-in--form {
  position: relative;
  /* set for the error message pos */
  max-width: 23rem;
  min-height: 20rem;
  padding: 2rem 1rem;
  background-color: rgb(175, 116, 175);
  box-shadow: 6px 6px 2px black;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.sign-in--form .error {
  position: absolute;
  z-index: 3;
  overflow: hidden;
}
.sign-in--form .error p {
  font-size: 2rem;
  text-align: center;
  color: rgb(208, 26, 26);
  background-color: lime;
  animation: blink 200ms steps(2, start);
  animation-iteration-count: 50;
}
.sign-in--form input {
  max-width: 70%;
  margin: 0.5rem auto;
  border: none;
  border-radius: 12px;
  padding: 0.5rem 0.7rem;
  box-shadow: 1px 2px black;
  font-size: 1.2rem;
}

.sign-in--title {
  color: gold;
  margin-bottom: 1rem;
}

.links {
  margin: 0.5rem 0 1.5rem;
}
.links p {
  font-size: 1.2rem;
  margin: 0;
}

.branch-button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  background-color: rgb(83, 192, 204);
  box-shadow: 2px 2px 4px black;
  font-size: 1.4rem;
  color: white;
  cursor: pointer;
}
.branch-button:hover {
  color: gold;
  transform: scale(1.02);
}

@media only screen and (max-width: 1400px) {
  .sign-in--form {
    max-width: 20rem;
    margin: 0 auto 4rem;
  }
}
@media only screen and (max-width: 1200px) {
  .sign-in--form {
    max-width: 25rem;
    margin: 0 auto 4rem;
  }

  .branch-button {
    padding: 0.5rem 1.5rem;
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 768px) {
  .sign-in--form {
    margin-top: -17rem;
  }
}
@media only screen and (max-width: 500px) {
  .sign-in--form {
    max-width: 20rem;
  }

  .sign-in--form input {
    padding: 0.25rem 0.5rem;
  }

  .links p {
    font-size: 1.1rem;
  }

  .branch-button {
    font-size: 1.3rem;
    padding: 0.4rem 0.75rem;
  }
}
.pass-reset--form input {
  width: 60%;
  margin: 0.5rem auto;
  border: none;
  border-radius: 12px;
  padding: 0.5rem 0.7rem;
  box-shadow: 1px 2px black;
  font-size: 1.3rem;
}
.pass-reset--form .title {
  color: gold;
  font-size: 3rem;
  margin-bottom: 1rem;
}
.pass-reset--form .body {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}
.pass-reset--form .error {
  padding: 0.25rem 0;
  text-align: center;
  background-color: lime;
  font-weight: bold;
  color: red;
}
.pass-reset--form .reset {
  width: 60%;
  margin: 0 auto 2rem;
}
.pass-reset--form .return {
  margin: 0.5rem 0;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
.pass-reset--form .return:hover {
  color: goldenrod;
  text-decoration: none;
}

.welcome-banner {
  margin: 20rem 0 10rem;
  text-align: center;
}
.welcome-banner .container {
  margin: 0 auto;
}
.welcome-banner .title {
  margin-bottom: 1rem;
  color: green;
  font-size: 2.5rem;
  font-weight: bold;
}
.welcome-banner .backplate {
  padding: 1rem 0.5rem;
  background-color: goldenrod;
  border-radius: 7px;
  box-shadow: 2px 2px 3px black;
}

@media only screen and (max-width: 1400px) {
  .title {
    margin: 0 0 1.5rem;
  }

  .backplate-container {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 980px) {
  .backplate {
    max-width: 30rem;
  }
}
@media only screen and (max-width: 500px) {
  .title {
    font-size: 2.2rem;
  }
}

/*# sourceMappingURL=main.css.map */
