.bank-map {
  &--alert {
    position: absolute;
    width: 120%;
    height: 100%;
    left: -3vw;
    white-space: nowrap;
    z-index: 3;

    h1 {
      font-size: 3rem;
      color: $primary-alert;
      background-color: $secondary-alert;
      animation: blink 200ms steps(2, start);
      animation-iteration-count: 50;
    }
  }

  .info-window {
    border-radius: 10px;
    border: 2px solid $tertiary-theme;
    box-shadow: inset 0 0 500px $secondary-theme, 3px 3px black;
    background-color: $page-card-bg-main;

    &--alert {
      text-align: center;
      position: relative;
      margin: 0.5rem 0 1rem;
      padding: 0.25rem;
      width: 103%;
      white-space: nowrap;
      overflow-x: hidden;
      overflow-y: scroll;
      border-top: 2px solid black;
      border-bottom: 2px solid black;
      background-color: $secondary-alert;
      color: $primary-alert;
      left: -1rem;
      text-decoration: underline;
    }

    &--location {
      color: $primary-theme-alt;
      margin: 0 1rem 0 0;
      font-size: 1.8rem;
    }

    .status-container {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      &--icon {
        width: 50px;
        margin-right: 1rem;
        padding: 0.25rem;
      }

      &--status {
        margin: 0.25rem 0;
      }

      &--rating {
        width: 100px;
        margin: 0.5rem 0;
      }

      &--address {
        margin: 0.5rem 0;
      }
    }
  }
}
