.bank-map {
  &--alert {
    position: absolute;
    width: 120%;
    height: 100%;
    left: -3vw;
    white-space: nowrap;
    z-index: 3;

    h1 {
      font-size: 3rem;
      color: $primary-alert-color;
      background-color: $secondary-alert-color;
      animation: blink 200ms steps(2, start);
      animation-iteration-count: 50;
    }
  }

  .info-window {
    &--alert {
      text-align: center;
      position: relative;
      margin: 0.5rem 0 1rem;
      padding: 0.25rem;
      width: 103%;
      white-space: nowrap;
      overflow-x: hidden;
      overflow-y: scroll;
      border-top: 2px solid black;
      border-bottom: 2px solid black;
      background-color: $secondary-alert-color;
      color: $primary-alert-color;
      left: -1rem;
      text-decoration: underline;
    }

    &--location {
      color: $primary-alt-color;
      margin: 0 1rem 0 0;
      font-size: 1.8rem;
    }

    .status-container {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      &--icon {
        width: 50px;
        margin-right: 1rem;
        padding: 0.25rem;
      }

      &--status {
        margin: 0.25rem 0;
      }

      &--rating {
        width: 100px;
        margin: 0.5rem 0;
      }

      &--address {
        margin: 0.5rem 0;
      }
    }
  }
}
