.loc-card {
  margin: 0.5rem 1rem 1rem;
  padding: 0.5rem 1rem;
  font-family: $lucida-family;
  border-radius: 10px;
  border: 3px solid $tertiary-theme;
  box-shadow: inset 0 0 500px $secondary-theme, 3px 3px black;
  background-color: $page-card-bg-main;
  z-index: 2;

  &--name {
    margin: 0.5rem 0;
    color: $primary-theme-alt;
    text-decoration: underline;
    text-shadow: 0 0 2px black;
  }

  .status-container {
    margin: 1rem 0;

    &--icon {
      width: 50px;
      margin-right: 1rem;
      padding: 0.25rem;
    }

    &--status {
      margin: 0.25rem 0;
      font-size: 1.2rem;
    }
  }

  &--rating {
    width: 125px;
  }

  &--address {
    margin: 0.5rem 0;
    font-size: 1.2rem;
  }
}
