.input {
  width: 20rem;
  padding: 0.25rem 1rem;
  font-size: 1.3rem;
  border-radius: 5px;
  box-shadow: 1px 1px 1px black;
  border: 2px solid black;
}

.popover {
  padding: 0.5rem;
  background-color: rgb(245, 245, 220); // update to reflect userSettings
  border-radius: 4px;
  box-shadow: -1px 1px 4px black;
  font-size: 1.8rem;
  z-index: 2;
}

.option {
  background-color: none;
}

.option:hover {
  background-color: none;
  color: $primary-theme-alt;
  transform: scale(1.02);
}

.results-message {
  margin: 1.5rem auto;
  color: $secondary-theme-alt;
  text-shadow: 0 0 1px black;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .input {
    width: 30rem;
  }
}
