.form-button {
  margin: 1rem 0;
  padding: 0.25rem 0.5rem;
  border-radius: 25px;
  background-color: inherit;
  font-size: 1.4rem;
  font-weight: bold;
  border: 2px solid white;
}

.form-button:disabled {
  border: 2px solid white;
  border-radius: 25px;
  padding: 0.25rem 1.5rem;
  color: black;
}

.form-button:hover {
  cursor: pointer;
  animation: button-gleam 700ms forwards;
}
@keyframes button-gleam {
  from {
    box-shadow: none;
  }
  25% {
    box-shadow: -1px 0 3px white;
  }
  to {
    box-shadow: 0 2px 3px black;
    transform: translate(1px, -1px);
    color: white;
  }
}

.form-button:disabled:hover {
  background-color: goldenrod;
  animation: none;
  cursor: default;
}

@media only screen and (max-width: 500px) {
  .form-button {
    margin: 0;
    padding: 0.25rem 1.5rem;
    font-size: 1.3rem;
    font-weight: bold;
  }

  .form-button:disabled {
    padding: 0.25rem 1.25rem;
  }
}
