.card {
  margin: 1rem 0 2rem;
  border-radius: 3px;
  box-shadow: 1px 1px 1px black;
}

.card:hover {
  animation: bump 800ms forwards;
}
@keyframes bump {
  from {
    transform: scale(1);
  }
  100% {
    transform: scale(1.03);
    box-shadow: 3px 3px 5px black;
  }
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  z-index: 2;
}

.content {
  height: 22rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 3rem;
  color: purple;
}

.content p {
  font-family: 'Times New Roman', Times, serif;
}

.learn-container {
  text-align: right;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

.learn-container button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 20px;
  font-size: 1.4rem;
  font-weight: 600;
  background-color: rgb(175, 116, 175);
  cursor: pointer;
  z-index: 2;
  text-decoration: none;
}

.learn-container button:hover {
  animation: button-gleam 700ms forwards;
}
@keyframes button-gleam {
  from {
    box-shadow: none;
  }
  25% {
    box-shadow: -1px 0 3px white;
  }
  to {
    box-shadow: 0 2px 3px black;
    transform: translate(1px, -1px);
    color: gold;
  }
}

@media only screen and (max-width: 1200px) {
  .title {
    font-size: 2.5rem;
  }

  .content p {
    font-size: 1.3rem;
  }

  .learn-container button {
    font-size: 1.2rem;
  }
}
